<p>・・・・・・・・・・・・・・・・・・・・・・・・・・<br>
このメールはAR名刺作成ツール「QRAR」に <br>
ご登録いただいた方へ自動送信しています。<br>
このメールに心当たりのない場合や、ご不明な点がある<br>
場合は、下記カスタマーサポートまでご連絡ください。<br>
・・・・・・・・・・・・・・・・・・・・・・・・・・・・</p>
<p>このたびは、会員登録いただき、誠にありがとうございます。</p>
<p>QRARは、AR体験できるQRコードの作成ツールです。<br>
QRコードを読み込むだけで、専用アプリを使わずに、<br>
AR体験をすることができます。<br>
名刺などに収まりきらない情報をARで表示しましょう！</p>
<p>ログインID: {{email}}<br>
*セキュリティの都合上、パスワードは記載しておりません。</p>
<p>ログインページ： {{loginURL}}</p>
